.hearts {
    border: 2px solid pink;
    border-image-source: url(https://stormhun.github.io/design-fa101951-b9a9-4b8b-8d69-7895fd09a3f2.png); 
    border-image-slice: 20 22;
    border-image-repeat: round;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #1D1F1F;
  }
  
  div {
    width: 95vw;
    height: 200vh;
  }