.hearts {
    border: 20px solid pink;
    border-image-source: url(https://stormhun.github.io/output-onlinepngtools.png); 
    border-image-slice: 30 30;
    border-image-repeat: round;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #1D1F1F;
  }
  
  div {
    width: 97vw;
    height: 1000vh;
  }
  