.hearts {
    border: 30px solid pink;
    border-image-source: url(https://stormhun.github.io/resized-image-Promo.jpeg); 
    border-image-slice: 20 22;
    border-image-repeat: round;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #1D1F1F;
  }
  
  div {
    width: 95vw;
    height: 200vh;
  }